/* Header Styles */
#header-img {
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
    vertical-align: top;
}

#header h3{
    font-weight: lighter;
}

/* Slideshow Styles */
.carousel-item img {
    height: 500px;
}

.carousel-caption {
    color: #040404;
    font-style: oblique;
}

.carousel-indicators li {
    background-color: #040404;
}

.carousel-indicators .active {
    background-color: #666;
}



