/* Header Styles */
#header-img {
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
    vertical-align: top;
}

#header h3{
    font-weight: lighter;
}

/* Slideshow Styles */
.carousel-item img {
    height: 500px;
}

.carousel-caption {
    color: #040404;
    font-style: oblique;
}

.carousel-indicators li {
    background-color: #040404;
}

.carousel-indicators .active {
    background-color: #666;
}

/* Feature Styles*/

.feature-divider {
    margin-top: 5rem;
}

/* Form Styles */

.form-container {
    border-right: 1px solid #dee2e6;
}

/* Video-Demo styles */

#video-demo {
    background: #dee2e6;
}
.video-title {
    margin-bottom: 15px;
}

/* Footer Styles */

footer {

}

/* Media Queries */
@media(max-width:992px) {
    .form-container {
        border-right: none;
    } 
}

@media(max-width:786px) {
    .form-container {
        margin-bottom: 50px;
    }
}